CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LWIP_IPV6=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y

# IRAM fix: move FreeRTOS code to Flash
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y

# PSRAM activation
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_SPEED_80M=y

# VFS is required for /dev/urandom (Utils::getSecureRandom)
CONFIG_VFS_SUPPORT_TERMIOS=y

CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
